<mat-sidenav-container>
    <mat-sidenav-content>
        <mat-toolbar>
            <div>
                <a class="name-text" routerLink="/">
                    MWA Trello
                </a>
            </div>

            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">

                    <li>
                        <a routerLink="/boards/123" class="name-text">
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">Board123</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/login" class="name-text">
                            <mat-icon class="icon">home</mat-icon>
                            <span class="label">Login</span>
                        </a>
                    </li>

                    <li>
                        <a routerLink="/signup" class="name-text">
                            <mat-icon class="icon">input</mat-icon>
                            <span class="label">Signup</span>
                        </a>
                    </li>
                </ul>
            </div>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>