<div>
    <div class="container">
        <br>
        <div class="container">
            <br>
            <div fxLayout="row" fxLayoutAlign="center" class="content" fxLayout.xs="column">
                <div fxFlex.xs="40%" fxFlex.sm="60%" fxFlex.md="40%" fxFlex="30%">
                    <mat-card class="card">
                        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
                            <h3>Login</h3>
                        </mat-card-title>
                        <mat-card-content>
                            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" [hidden]="isLogedIn">
                                <div class="example-container">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Enter your email</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" id="email" formControlName="email">
                                        <span mat-icon-button matSuffix >
                                            <mat-icon>email</mat-icon>
                                        </span>
                                        <mat-error *ngIf="!myForm.get('email').valid">{{getErrorMessage()}}</mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>Enter your password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                                        <span mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </span>
                                    </mat-form-field>
                                </div>

                                <div class="signup-link">
                                    <a routerLink="/signup">Create account? Signup Here</a>
                                </div>

                                <button type="submit" mat-raised-button color="primary"
                                    [disabled]="!myForm.valid">Submit</button>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>