.scroll-area {
  overflow-x: auto;
  overflow-y: hidden;

  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

.column-list {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.card-box {
  font-size: 16px;
  margin-bottom: 10px;
  min-width: 272px;
  max-width: 272px;
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 3px;
}

.container-content-column {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  margin-right: 15px;
  padding: 10px 10px;
}

.group-handle {
  height: 32px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: move;
}

.input-column {
  height: 30px;
  border-radius: 5px;
  background-color: #ebecf0;
  cursor: pointer;
  margin-right: 20px;
}

.delete-icon {
  float: right;
  cursor: pointer;
}

.board-name {
  border: 1px solid rebeccapurple;
  margin-top: -1px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: aliceblue;
  opacity: 0.8;
  border-radius: 4px;
  height: 27px;
  text-align: center;
  line-height: 1.5;
  display: inline-block;
  padding: 0 13px;
  padding-top: 6px;
}

.column-edit{
  width: 250px;
  height: 30px;
  border: 0px;
  background-color: #ebecf0;
  cursor: pointer;
  outline: none;
} 

