<div>
    <div class="container content-area">
        <br>
        <br>
        <div class="container content-grid">
        <mat-grid-list cols="3" rowHeight="4:2">
          <div *ngFor="let board of boards">
            <mat-grid-tile>
              <div class="board-item">
                <mat-icon class="edit-icon" (click)="onEdit(board)">edit</mat-icon>
                <mat-icon (click)="onDelete(board)">delete_forever</mat-icon>
                <a routerLink='/boards/{{board._id}}'>{{board.name}}</a>
                </div>
            </mat-grid-tile>
          </div>
          
          <mat-grid-tile>
            <input class="new-board" autofocus placeHolder="Create New Board" (keyup.enter)="createNewBoard($event)"/>
            </mat-grid-tile>

        </mat-grid-list>
    
        </div>
    </div>
</div>