mat-grid-tile {
  background: lightblue;
  border: 1px solid rebeccapurple;
  background-color: aquamarine;
  cursor: pointer;
  margin: 5px;
}

.content-area {
  margin: 0 auto;
  max-width: 650px;
}