mat-grid-tile {
  background: lightblue;
  border: 1px solid rebeccapurple;
  background-color: aquamarine;
  cursor: pointer;
  border-radius: 10px;
  margin: 10px 0;

  opacity: .7;
transition: opacity .5s ease-out;
-moz-transition: opacity .5s ease-out;
-webkit-transition: opacity .5s ease-out;
-o-transition: opacity .5s ease-out;
}

.content-area {
  margin: 0 auto;
  max-width: 650px;
}

mat-grid-tile:hover {
    opacity: 1;
}

.mat-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    width: 15px;
    height: 15px;
}
.edit-icon{
    right: 25px;
}